@use "../../styles/_variables" as vars;
@use "sass:color";

.menu {
    list-style: none; // 去掉默认圆点
    padding-left: 0; // 去掉默认内边距
    margin: 0; // 去掉默认外边距
    display: flex;
    //自动换行
    flex-wrap: wrap;
    border-radius: vars.$menu-border-radius;
    border: 1px solid vars.$menu-border-color;
    box-shadow: vars.$menu-box-shadow;
    transition: vars.$menu-transition;

    &.menu-horizontal {
        flex-direction: row;
    }

    &.menu-vertical {
        flex-direction: column;
        .menu-item.active {
            border-left: vars.$menu-item-active-border-width solid  vars.$menu-item-active-color;
            border-bottom:none;
            margin-left: vars.$menu-item-active-border-width;
        }
    }

    .menu-item {
        padding: vars.$menu-item-padding-y vars.$menu-item-padding-x;
        font-size: vars.$menu-item-font-size;
        line-height: vars.$menu-item-line-height;
        color: vars.$menu-item-color;
        transition: vars.$menu-transition;
        cursor: pointer;

        &:hover {
            background-color: #eee;
            color: vars.$menu-item-hover-color;
        }

        &.active {
            border-bottom: vars.$menu-item-active-border-width solid  vars.$menu-item-active-color;
            color: vars.$menu-item-active-color;
        }

        &.disabled {
            color: vars.$menu-item-disabled-color;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}