@import "../../styles/_variables";

.menu {
    list-style: none; // 去掉默认圆点
    padding-left: 0; // 去掉默认内边距
    margin: 0; // 去掉默认外边距
    display: flex;
    //自动换行
    flex-wrap: wrap;
    border-radius: $menu-border-radius;
    border: 1px solid $menu-border-color;
    box-shadow: $menu-box-shadow;
    transition: $menu-transition;

    &.menu-horizontal {
        flex-direction: row;
    }

    &.menu-vertical {
        flex-direction: column;
        .menu-item.active {
            border-left: $menu-item-active-border-width solid  $menu-item-active-color;
            border-bottom:none;
            margin-left: 5px;
        }
    }

    .menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        font-size: $menu-item-font-size;
        line-height: $menu-item-line-height;
        color: $menu-item-color;
        transition: $menu-transition;
        cursor: pointer;

        &:hover {
            background-color: #eee;
            color: $menu-item-hover-color;
        }

        &.active {
            border-bottom: $menu-item-active-border-width solid  $menu-item-active-color;
            color: $menu-item-active-color;
        }

        &.disabled {
            color: $menu-item-disabled-color;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}