@use "../../styles/_variables" as vars;
@use "sass:color";

.menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
    border-bottom: vars.$menu-border-width solid vars.$menu-border-color;
    box-shadow: vars.$menu-box-shadow;
    transition: vars.$menu-transition;

    >.menu-item,
    .submenu-title {
        padding: vars.$menu-item-padding-y vars.$menu-item-padding-x;
        cursor: pointer;
        transition: vars.$menu-transition;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &.disabled {
            color: vars.$menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }

        &.active,
        &:hover {
            color: vars.$menu-item-active-color;
            border-bottom: vars.$menu-item-active-border-width solid vars.$menu-item-active-color;
        }
    }

    // Submenu 容器
    .submenu-item {
        position: relative;

        .arrow-icon {
            transition: transform 0.25s ease-in-out;
            margin-left: 3px;
        }

        &:hover {
            .arrow-icon {
                transform: rotate(180deg);
            }
        }
    }

    .vertical {
        //垂直菜单没有hover效果
        .arrow-icon {
            transform: rotate(0deg) !important;
        }
    }

    .vertical.menu-opened {
        //垂直菜单打开时箭头旋转180度
        .arrow-icon {
            transform: rotate(180deg) !important;
        }
    }

    .submenu {
        list-style: none;
        padding-left: 0;
        white-space: nowrap;
        min-width: 100%;
        //display: none;

        >.menu-item {
            padding: vars.$menu-item-padding-y vars.$menu-item-padding-x;
            cursor: pointer;
            transition: vars.$menu-transition;
            color: vars.$body-color;
            width: 100%;
            margin-left: 10px;

            &:hover,
            &.active {
                color: vars.$menu-item-active-color !important;
            }
        }

        // &.menu-opened {
        //     //display: block;
        // }
    }
}

// 水平菜单
.menu-horizontal {
    >.menu-item {
        border-bottom: vars.$menu-item-active-border-width solid transparent;
    }

    .submenu {
        position: absolute;
        background: vars.$white;
        z-index: 100;
        top: calc(100% + 8px);
        left: 0;
        border: vars.$menu-border-width solid vars.$menu-border-color;
        box-shadow: vars.$submenu-box-shadow;
    }
}

// 垂直菜单
.menu-vertical {
    flex-direction: column;
    border-bottom: 0px;
    margin: 10px 20px;
    border-right: vars.$menu-border-width solid vars.$menu-border-color;

    >.menu-item,
    .submenu-title {
        border-left: vars.$menu-item-active-border-width solid transparent;

        &.active,
        &:hover {
            border-bottom: 0px;
            border-left: vars.$menu-item-active-border-width solid vars.$menu-item-active-color;
        }
    }
}