// _reboot.scss
@use "variables" as vars; // 使用上面的变量，前面加命名空间 vars.

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: vars.$font-family-base;
  background-color: vars.$white;
  color: #212529;
  line-height: vars.$line-height-base;

  @if vars.$font-size-root != null {
    font-size: vars.$font-size-root;
  }
}

a {
  color: vars.$link-color;
  text-decoration: none;

  &:hover {
    color: vars.$link-hover-color;
    text-decoration: underline;
  }
}
